.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.resultsList{
  list-style: none;
  padding: 0;
}

.resultsList a{
  color: inherit;
}

.resultsList li{
  text-align: center;
}

.invisible{
  display: none;
}

.thumbnailImg{
  width: 90px;
  height: 90px;
}

.bigImg{
  width: 80%;
  height: auto;
}

#title{
  display: flex;
  align-items: center;
  justify-content: center;
}

#thumbnail{
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchResult{
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: solid;
  border-bottom-width: 1px;
  transition: background-color 0.5s;
}

#searchResult:hover{
  background-color: rgb(219, 219, 219);
}

#listCol{
  margin: 0 auto;
}

#paginationNav{
  display: flex;
  justify-content: center;
}

#homeBody{
  margin: 0 auto;
}

#homeText{
  text-align: center;
}

.ingredientsList{
  list-style: none;
  padding: initial;
  text-align: center;
}

.instructionsList{
  list-style: none;
  padding: initial;
  text-align: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;
}

.loaderBig {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 393px;
  height: 393px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px){
  .ingredientsList{
    border-right-style: solid;
    border-right-width: 1px;
  }
}
