.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.resultsList{
  list-style: none;
  padding: 0;
}

.resultsList a{
  color: inherit;
}

.resultsList li{
  text-align: center;
}

.invisible{
  display: none;
}

.bigImg{
  width: 80%;
  height: auto;
}

.thumbnailImg{
  width: var(--height);
  height: var(--height);
  object-fit: cover;
}

#title{
  display: flex;
  align-items: center;
  justify-content: center;
}

#thumbnail{
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchResult{
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: solid;
  border-bottom-width: 1px;
  transition: background-color 0.5s;
}

#searchResult:hover{
  background-color: rgb(219, 219, 219);
}

#listCol{
  margin: 0 auto;
  flex: 1 0 auto;
}

#paginationNav{
  display: flex;
  justify-content: center;
}

#homeBody{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  flex: 1 0 auto;
}

.MainPageCardsWrapper{
  min-width: 160px;
  width: 70%;
  position: relative;
}

.MainPageCard{
  position: absolute;
  top: var(--top);
  transform: translate(-50%);
}

.MainPageCardTitle{
  text-align: center;
  width: 150px;
}

.ctr{
  left: 50%;
  transition: left 1s, opacity 1s;
}

.left{
  left: 20%;
  opacity: 1;
  transition: left 1s, opacity 1s;
}

.right{
  left: 80%;
  opacity: 1;
  transition: left 1s, opacity 1s;
}

.invLeft{
  left: 0%;
  opacity: 0;
  transition: left 1s, opacity 1s;
}

.inv{
  opacity: 0;
}

.invRight{
  left: 100%;
  opacity: 0;
  transition: left 1s, opacity 1s;
}

.arrow{
  font-size: 200%;
  z-index: 10;
}

.arrow:hover{
  cursor: pointer;
}

#homeText{
  text-align: center;
}

.ingredientsList{
  list-style: none;
  padding: initial;
  text-align: center;
}

.instructionsList{
  list-style: none;
  padding: initial;
  text-align: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: var(--height);
  height: var(--height);
  animation: spin 2s linear infinite;
}

.footer {
  background-color: #f8f9fa;
  /* position: absolute; */
  bottom: 0;
  /* padding: 50px; */
  width: 100%;
}

.upperFooter{
  padding: 35px;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

html, body{
  height: 100%;
}

.footer-list {
  list-style: none;
  text-decoration: none;
  /* color: #212529; */
}

.footer-list a {
  color: #212529;
}

.recipeContent {
  flex: 1 0 auto;
}

#map{
  height: 230px;
}

.socials{
  width: 100%;
  height: 50px;
  background-color: #2a2b2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialIcon{
  font-size: 1.5em;
  transition: font-size 0.1s;
  transition-timing-function: linear;
  padding: 0 2px 0;
}

.socialIcon:hover{
  font-size: 2em;
}

.fb{
  color: #3b5998;
}

.ig{
  color: #405DE6;
}

.tt{
  color: #1DA1F2;
}

.yt{
  color: #c4302b;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px){
  .ingredientsList{
    border-right-style: solid;
    border-right-width: 1px;
  }
}

@media screen and (max-width: 767px){

  .footer-list {
    padding: 0;
  }

  .footer-list li {
    text-align: center;
  }

  .logoWrapper {
    margin-bottom: 10px;
  }

  .left{
    opacity: 0;
  }

  .right{
    opacity: 0;
  }
}
